<% photo_options ||= '90x90#' %>

<ul class="thumbnails" data-toggle="modal-gallery" data-target="#modal-gallery">
  <% event.images.each do |photo| %>
    <li class="photo_photo">
    <%= link_to image_tag(photo.thumb(photo_options).url, :alt => "", :'data-original-title' => "", :'data-content' => ""), photo.file.jpg.url, :class => "thumbnail", :rel => "gallery" if photo %>
    </li>
  <% end %>
</ul>
