<% if Membership.where(deleted_at: nil).count > 0 %>
<div id="collaborators">
  <h2><%= t('.title', count: Membership.where(deleted_at: nil).count) %></h2>
  <ul>
    <% Membership.where(deleted_at: nil).each do |membership| %>
      <li>
        <%= image_tag(membership.member.photo.thumb('50x50#').url) if membership.member.photo %>
      </li>
    <% end %>
  </ul>
</div>
<% end %>
