<div class="hero-unit">
  <h1><%= t '.title' %></h1>

  <% @photo_albums.each do |album| %>
    <h2><%= album.albumtitle %></h2>
    <ul class="media-grid">
      <% album.thumb_urls.each_with_index do |thumb, i| %>
        <li class="photo_photo">
          <%= link_to image_tag(thumb, :alt => "", :class => "thumbnail", :'data-original-title' => "", :'data-content' => ""), album.photo_urls[i], :target => "_blank" if thumb %>
        </li>
      <% end %>
    </ul>
  <% end %>

  <% if @photo_albums.blank? %>
    <%= t '.api_error' %>
  <% end %>
</div>

