@import 'mixins';

body.events.index {
  li.events {
    @include active
  }
  .hero-unit {
    ul.attending {
      padding: 4px 0px;
      margin-left: 0px;
      li {
        display: inline;
        img {
          width: 50px;
          height: 50px;
          padding: 1px 0;
        }
      }
    }
  }
  .row {
    margin: 0 0 20px 0;
    ul.attending {
      padding: 8px 0px;
      margin: 0px;
      li {
        display: inline;
        img {
          width: 30px;
          height: 30px;
          padding: 1px 0;
        }
      }
    }
  }

}
