@import 'mixins';

body.homepage.index {
  padding-top: 40px;
  div.logo {
    display: block;
    text-align: center;
    margin-bottom: 10px;
    img {
      width: 400px;
      height: 193px;
    }
  }
  div.hero-unit {
    padding: 10px 60px 20px 60px;
  }
  li.home {
    @include active
  }
  .well {
    border: 1px dashed #555;
    margin: 20px 80px;
    padding: 0 20px 20px 20px;
    .next-event {
      background-color: #5BB75B;
      color: white;
      font-weight: bold;
      text-align: center;
      border: 1px solid black;
      position: relative;
      width: 100px;
      top: -12px;
      left: 234px;
    }
  }
  .event-date {
    border: 1px solid #555;
    float: left;
    margin-right: 10px;
    .event-month {
      background-color: #555;
      text-transform: uppercase;
      color: #fff;
      padding: 0 4px;
    }
    .event-day {
      background-color: #fff;
      font-size: 16px;
      font-weight: bold;
      text-align: center;
      padding: 2px 4px 4px 4px;
    }
  }
  .event-details {
    .title {
      font-size: 20px;
      font-weight: bold;
      background: image-url('meetup.png') no-repeat 100% 50%;
      padding-right: 24px;
    }
    .subtitle {
      font-size: 14px;
      color: #000;
      padding-top: 4px;
      font-weight: bold;
    }
    .rsvp {
      position: relative;
      right: 0;
      top: -35px;
    }
  }
  ul.attending {
    padding: 4px 25px;
    li {
      display: inline;
      img {
        width: 30px;
        height: 30px;
        padding: 1px 0;
      }
    }
  }
  #myCarousel {
    height: 400px;
  }
}
