@import 'mixins';

body.members.index {
  li.members {
    @include active
  }
}

body.members.show {
  .bio { margin: 15px 0px }
  .well { margin-top: 20px; }
  h3 { margin-top : 10px }
  img.github {
    height: 20px;
    width: 20px;
  }
  p {
    margin-bottom: 1px;
    a { font-size: 14px;}
  }
  span {
    &.no { background-color: #CA2F2F; }
    &.yes { background-color: #168116; }
    &.unknown { background-color: #C0C0BF; }
  }
}
