@import 'mixins';


body.projects.index {
  li.projects {
    @include active
  }
  .hero-unit {
    padding: 60px 60px 20px 60px;
  }
  h2 a {
    background: image-url('meetup.png') no-repeat 100% 50%;
    padding-right: 34px;
    font-weight:normal;
  }
  table {
    font-size:1.2em;
    margin-top:8px;
    h3 {
      margin-bottom:6px;
      line-height:1em;
    }
    .description {
      font-size:0.9em;
      color:#777;
    }
    td, th { padding:0.9em; }
    p { margin: 0px; }
    ul {
      list-style: none;
      padding: 0px;
      margin-left: 0px;
      width:190px;
      li { margin-bottom:10px; }
      img {
        width:40px;
        float: left;
        margin-right:8px;
      }
      span {
        &.no { background-color: #CA2F2F; }
        &.yes { background-color: #168116; }
        &.unknown { background-color: #C0C0BF; }
      }
    }
    .github {
      width: 20px;
      height: 20px;
    }
    h4.subtitle {
      border-bottom: 1px solid #ccc;
      clear: both;
    }
    ul.alumni {
      list-style: none;
      img {
        margin-right: 0;
        opacity:0.6;
        filter:alpha(opacity=60);
        width: 30px;
        padding: 2px;
      }
    }
    .action {
      text-align: center;
      vertical-align:middle;
      width: 100px;
    }
  }
}
