<% content_for :on_members do %>active<% end %>

<div class="hero-unit">
  <h1><%= t 'sections.members.roster', :number => @members.size %></h1>

  <ul class="media-grid">
    <% @members.shuffle.each do |member| %>
    <li class="member_photo">
      <%= link_to image_tag(member.photo.thumb('90x90#').url, :alt => sanitize(member.name),
        :class => "thumbnail", :'data-original-title' => sanitize(member.name), :'data-content' => member.bio), "#" if member.photo %>
    </li>
  <% end %>
  </ul>
  <% if @members.blank? %>
    Sorry, the meetup.com API is not available right now. Please check back a bit later.
  <% end %>
</div>

<!--
  <div class="pagination">
    <ul>
      <li class="prev disabled"><a href="#">&larr; Previous</a></li>
      <li class="active"><a href="#">1</a></li>
      <li><a href="#">2</a></li>
      <li><a href="#">3</a></li>
      <li class="next"><a href="#">Next &rarr;</a></li>
    </ul>

    <button class="btn success large pull-right">Join the Group</button>

  </div>
-->
